.time {
  font-size: 108px;
  text-align: center;
  color: blue ;
}

.subtime {
  font-size: 108px;
  text-align: center;
  color: darkgray;
}

.button {
  display: flex;
  justify-content: center;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 64px;
  color: blue;
  margin: 30px;
}

.stop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: red;
  margin: 30px
}

.set {
  font-size: 60px;
  text-align: center;
}