.timecount {
  display: flex;
  justify-content: center;
}

.en {
  display: flex;
  justify-content: center;
  /* background-color: coral; */
}

.work {
  font-size: 120px;
  margin: 80px;
  color: blue;
  background-color: floralwhite;
  border-radius: 100%;
  /* margin-bottom: auto; */
  height: 240px;
}

.rest {
  font-size: 120px;
  margin: 80px;
  background-color:antiquewhite;
  color: deeppink;
  border-radius: 100%;
  /* margin-bottom: auto; */
  height: 240px;
}


.time {
  font-size: 108px;
  text-align: center;
  color: blue ;
  margin: 40px;
  color: #6cb4e4;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.subtime {
  font-size: 108px;
  border-radius: 0.5em;
  text-align: center;
  color: darkgray;
  margin: 40px;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.text { 
  display: flex;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  /* color: white;文字色 */
  border: solid 3px #364e96;/*線色*/
  /* padding: 30px;文字周りの白 */
  border-radius: 0.5em;/*角丸*/
  width: 50%;
  margin: auto;
  /* background-color: cornflowerblue; */
  position: relative;
  padding: 0.3em 0.5em;
  background: -webkit-linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  color: #495193;
  
}



.button {
  display: flex;
  justify-content: center;
}

.start {
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 64px;
  color: blue;
  margin: 30px;
}

.stop {
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: red;
  margin: 30px
}

.set {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  width: 20%;
  margin: auto;
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

