.timecount {
  display: flex;
  justify-content: center;
}



.time {
  font-size: 108px;
  text-align: center;
  color: blue ;
  margin: 40px;
  color: #6cb4e4;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.subtime {
  font-size: 108px;
  border-radius: 0.5em;
  text-align: center;
  color: darkgray;
  margin: 40px;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.text { 
  display: flex;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  color: white;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 30px;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  width: 50%;
  margin: auto;
  background-color: cornflowerblue;
}



.button {
  display: flex;
  justify-content: center;
}

.start {
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 64px;
  color: blue;
  margin: 30px;
}

.stop {
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: red;
  margin: 30px
}

.set {
  font-size: 60px;
  text-align: center;
}